@font-face {
  font-family: 'SK Cuber';
  src: url('SK-Cuber.ttf') format('truetype'); /* Mets ici le bon chemin vers ta police */
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000;
  color: #a020f0; /* violet */
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #111;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.sidebar li:hover {
  color: #d580ff;
}

.content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  text-align: center;
}

.mine-title {
  font-family: 'SK Cuber', sans-serif;
  font-size: 4em;
  margin-bottom: 10px;
  color: #a020f0;
}

.hero h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.caption, .caption-en {
  font-size: 1.2em;
  margin: 5px 0;
}
