@font-face {
  font-family: "CustomFont";
  src: url("../fonts/CustomFont.woff2") format("woff2");
}

body {
  margin: 0;
  font-family: "CustomFont", sans-serif;
  background: #0a0a0a; /* noir dur bossu */
  color: #fff;
}

/* Sidebar principale */
.sidebar {
  width: 220px;
  background: #111;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.menu a {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1em;
  color: #ccc;
  border: 1px solid #333;
  margin: 5px;
  text-decoration: none;
}

.menu a:hover {
  background: #222;
  border-color: #555;
}

/* Sidebar secondaire */
.sidebar2 {
  width: 200px;
  background: #222;
  height: 100vh;
  position: fixed;
  left: -220px;
  top: 0;
  transition: left 0.3s;
  z-index: 1001;
  padding: 1em;
}

.sidebar2.active {
  left: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.4);
  display: none;
  z-index: 1000;
}

/* Boutons */
.open-sidebar2 {
  position: fixed;
  bottom: 70px;
  left: 10px;
  z-index: 1100;
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.close-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #111;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 500;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

/* Recherche */
.search {
  display: flex;
  margin: 20px;
}

.search input {
  flex: 1;
  padding: 8px;
}

.search button {
  padding: 8px 12px;
  background: #333;
  color: #fff;
  border: none;
}
